.left-bar {
    padding-left: 1em;
    max-height: 100%;
}
.sticky-bar {
    position: -webkit-sticky;
    position: sticky;
    top:0;
}
.icon-container {
    height: 3em;
    width: 3em;
    border-radius: 50%;
}
.icon-container > img {
    width:60%;
    height:65%;
    margin-top: 15%;
    margin-right: 5%;
}
.icon-container:hover {
    background-color: rgba(143, 170, 221, 0.233);
}
.to-blue:hover {
    background-color: rgba(180, 206, 255, 0.349);
    
}
.to-blue:hover > span {
    color:cornflowerblue;
}
.to-blue:hover > svg {
    fill:cornflowerblue
}
.link-bar {
    margin-top: 10px;
    display: flex;
    width: min-content;
    flex-direction: row;
    justify-items: baseline;
    height: 2.2em;
    border-radius: 2em;
    padding-top: 14px;
    transition: 0.2s;
}
.link-bar > svg {
    height: 1.75em;
    width: 1.75em;
    margin-left: 12px;
    transition: 0.2s;
}
.link-bar > span {
    color: rgb(15, 20, 25);
    width:50%;
    font-size:1.1em;
    font-weight: 700;
    margin-left:10px;
    transition: 0.2s;
    margin-right:10px;
}
.sticky-bar > button {
  width:100%;
  border: none;
  height: 3em;
  color: white;
  font-size: medium;
  border-radius: 25px;
  background-color: cornflowerblue;
  transition: 0.1s;
  margin-bottom: 2px;
}