.right-bar > .right-items {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border: solid 1px rgb(228, 230, 232);
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 0px;
  margin-right: 10px;
}
.right-bar > .right-items > button {
  border: none;
  width: 90%;
  height: 3em;
  color: white;
  font-size: medium;
  border-radius: 25px;
  background-color: cornflowerblue;
  transition: 0.1s;
  margin-bottom: 1vh;
}
.right-bar > .right-items > button:hover {
  filter: brightness(0.95);
}
