.account {
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr;
}
.banner {
  width: 100%;
  height: 35vh;
}
.img-follow-cont {
  display: flex;
  justify-content: space-between;
  padding-left:1vmin;
}

.profile-pic {
  width: 30vmin;
  height: 30vmin;
  border-radius: 50%;
  margin-top: -15vmin;
  border: solid white;
}
.profile-pic:hover {
    filter: brightness(80%);
}
.follow-btn {
    width: 20vmin;
    height:10vmin;
    border-radius: 5vmin;
    border: solid thin blue;
    color:blue;
}
