.account {
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr;
}
.account-header{
  border: solid  rgb(228, 230, 232);
  border-width: 1px;
}
.banner {
  width: 100%;
  height: 35vh;
}
.img-follow-cont {
  display: flex;
  justify-content: space-between;
  padding-left:1vmin;
}

.profile-pic {
  width: 133px;
  height: 133px;
  border-radius: 50%;
  margin-top: -75px;
  transition-duration: 0.2s;
  border: solid white;
}
.profile-pic:hover {
    filter: brightness(80%);
}
.follow-btn {
    width: 100px;
    height:40px;
    border-radius: 20px;
    border: solid thin blue;
    color:blue;
}
.name-id-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.name-h {
  margin:0;
  padding:0;
  font-size: 20px;
  color: rgb(15, 20, 25);
}
.id-h {
  margin:0;
  padding:0;
  color: rgba(128, 128, 128, 0.76);
}
.bio-links-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
  color: rgb(83, 100, 113);
}
.bio-p {
  color:black;
}
a {
  text-decoration: none;
}
.followers-a {
  margin-left: 5vmin;
}
.following-a:hover {
  text-decoration: underline;
}
.following-a:hover {
  text-decoration: underline;
}
.feed-select {
  display: flex;
  justify-content: space-between;
}
.feed-select > div {
  border:none black;
  height: 10vmin;
  width:100%;
  line-height: 10vmin;
  transition-duration: 0.2s;
}
.feed-select > div > a {
  color:rgb(69, 83, 94);
  
}
.feed-select > div:hover {
  background-color: rgba(139, 175, 241, 0.438);
}
.feed-select > div:hover > a {
  color:rgb(29, 161, 242);
}