.reg-from {
    background-color: grey;
}
.reg-form > .form-cont {
    max-width: 50%;
    max-height: 90%;
    margin:auto;
    margin-top: 10%;
    background-color: white;
    border: solid grey;
    border-radius: 10px;
}
.reg-form > .form-cont > form {
    display: flex;
    flex-direction: column;
}