.tweet-cont {
    border:solid rgb(228, 230, 232);
    border-width: 1px;
}
.tweet-cont:hover {
    background-color: rgb(228, 230, 232);
}
.tweet {
  display: flex;
}
.right-side {
    flex-grow: 2;
}
.tweet-content {
    display: flex;
    flex-direction: column;
}
.tweet-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition-duration: 0.2s;
  margin-left:10px;
}
.tweet-profile-pic:hover {
  filter: brightness(80%);
}
.name-id-date-cont {
  margin-left: 10px;
  text-align: start;
}
.name-id-date-cont > .id-h {
    margin-left:5px;
}
.tweet-date {
    color: rgba(128, 128, 128, 0.76);
}
.tweet-text {
    text-align: start;
}
.tweet-img {
    text-align: start;
    margin-bottom: 10px;
}
.tweet-interaction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.reply,.like,.retweet,.share {
    height:1.5em;
    width:1.5em;
    border-radius: 50%;
}
.reply:hover,.like:hover,.retweet:hover,.share:hover {
    stroke: cornflowerblue;
    fill:cornflowerblue;
    background-color: rgba(66, 89, 90, 0.363);
}
