.tweet {
  border: solid rgb(228, 230, 232);
  border-width: 1px;
  min-height: 25vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.tweet:hover {
  background-color: rgba(158, 188, 218, 0.185);
}
.tweet > .right-side > .tweet-content {
  display: flex;
}
.tweet {}
.tweet > .left-side > .tweet-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition-duration: 0.2s;
  margin-left: 10px;
}
.tweet > .left-side > .tweet-profile-pic:hover {
  filter: brightness(80%);
}
.tweet > .right-side {
  flex-grow: 3;
  margin-left: 1vw;
  display: flex;
  align-items: stretch;
}
.tweet > .right-side > .tweet-content {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}
.tweet > .right-side > .tweet-content > .name-id-date-cont {
  margin-left: 10px;
  text-align: start;
}
.tweet > .right-side > .tweet-content > .name-id-date-cont > .id-h {
  margin-left: 5px;
}
.tweet > .right-side > .tweet-content > .name-id-date-cont > .tweet-date {
  color: rgba(128, 128, 128, 0.76);
}
.tweet > .right-side > .tweet-content > .tweet-text {
  text-align: start;
}
.tweet > .right-side > .tweet-content > .tweet-img {
  max-width: 99%;
}
.tweet > .right-side > .tweet-content > .tweet-interaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-top: auto;
  margin-bottom: 1vh;
}
.tweet > .right-side > .tweet-content > .tweet-interaction > .icon-cont {
  height: 2em;
  width: 25%;
}
.tweet
  > .right-side
  > .tweet-content
  > .tweet-interaction
  > .icon-cont
  > .svg-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height:2.2em;
    width: 2.2em;
    border-radius: 50%;
  }
.tweet
  > .right-side
  > .tweet-content
  > .tweet-interaction
  > .icon-cont
  > .svg-cont
  > svg {
  height: 1.2em;
  width: 1.2em;
}
.tweet
  > .right-side
  > .tweet-content
  > .tweet-interaction
  > .icon-cont:hover {
    cursor: pointer;
  }
.tweet
  > .right-side
  > .tweet-content
  > .tweet-interaction
  > .reply:hover
  > .svg-cont {
    background-color:rgba(33, 156, 233, 0.322);
    color:rgba(33, 156, 233);
  }
  .tweet
  > .right-side
  > .tweet-content
  > .tweet-interaction
  > .reply:hover
  > .svg-cont
  > svg {
    fill:rgba(33, 156, 233);
  }
  .tweet
  > .right-side
  > .tweet-content
  > .tweet-interaction
  > .retweet:hover
  > .svg-cont {
    background-color:rgba(27, 185, 101, 0.24);
    color:rgba(27,185,100);
  }
  .tweet
  > .right-side
  > .tweet-content
  > .tweet-interaction
  > .retweet:hover
  > .svg-cont
  > svg {
    fill:rgba(27,185,100);
  }
  .tweet
  > .right-side
  > .tweet-content
  > .tweet-interaction
  > .like:hover
  > .svg-cont {
    background-color:rgba(224,36,94, 0.24);
    color:rgba(224,36,94);
  }
  .tweet
  > .right-side
  > .tweet-content
  > .tweet-interaction
  > .like:hover
  > .svg-cont
  > svg {
    fill:rgba(224,36,94);
  }
  .tweet
  > .right-side
  > .tweet-content
  > .tweet-interaction
  > .share:hover
  > .svg-cont {
    background-color:rgba(33, 156, 233, 0.322);
    color:rgba(33, 156, 233);
  }
  .tweet
  > .right-side
  > .tweet-content
  > .tweet-interaction
  > .share:hover
  > .svg-cont
  > svg {
    fill:rgba(33, 156, 233);
  }
